{{page-title "About"}}
<div class="container-fluid">
    <div class="container mt-4">
        <div class="about_logo">
            <img src="/assets/undraw_go_team.svg" alt="Team Work">
        </div>
        <p class='mt-4'>
             Hello there! Once again welcome to our recipe project using Ember.js. We went through a lot over this application since
             we both had never used nor learned Ember before. Some resources were hard to find online so we had so work with whatever
             resources we could find and use.
        </p>

        <div class='mt-5'>
            <h3>A sneek peek at us</h3>
            <p>Here is some information about us in case you might.</p>

            <div class="contact border border-success py-2">
                <div class='Joe _contact'>
                    <div class="information">
                        Joseph Michel
                    </div>
                    <div>
                        Major: IS&T
                    </div>
                </div>

                <div class="MK">
                    <div class="information">
                        <p>Mtendere Whayo Kulemeka</p>
                    </div>
                    <div>
                        Major: IS&T
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>